<div ng-controller="UserController">
    <h1>Edit user</h1>
    <form class="table table-default">
        <label for="email">Email</label>
        <input ng-model="user.email" id="email">
        <label for="Password">Password</label>
        <input ng-model="user.password" id="password">
        <label for="PasswordConfirmation">Password Confirmation</label>
        <input ng-model="user.passwordConfirmation" id="passwordConfirmation">
        <label for="FullName">Full name</label>
        <input ng-model="user.fullName" id="fullName">

        <button ng-click="edit()">Save</button>
    </form>
</div>